.paragraph{
	display:block;
	padding-top: 10px;
	padding-bottom: 10px;
}

.quote{
	display: block;
    	color: #797979;
    	text-indent: 15pt;
}

h1, h2 {
    	margin-top: 0px;
    	margin-bottom: 0.2em;
}

body{
	font-family: sans-serif;
    	font-size: 12pt;	
}
